@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;

  box-sizing: border-box;
}

.flex-center {
  @apply flex items-center justify-center;
}

.flex-between {
  @apply flex justify-between items-center;
}

/* Divider Styles */
.border {
  border-width: 0;
  @apply border-solid border-r-2 border-light-gray;
}

/* Sidebar Styles */
.open {
  @apply transition-all ease-in-out;
}

/* Markdown Preview Styles */
.preview {
  font-family: "Roboto Slab", serif;
}

.preview h1 {
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @apply text-dark-gray mb-5 font-bold dark:text-white;
}

.preview h2 {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  @apply text-dark-gray mb-5 font-light dark:text-white;
}

.preview h3 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @apply text-dark-gray mb-5 font-bold dark:text-white;
}

.preview h4 {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @apply text-dark-gray mb-5 font-bold dark:text-white;
}

.preview h5 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @apply text-dark-gray mb-5 font-bold dark:text-white;
}

.preview h6 {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @apply text-orange mb-5 font-bold;
}

.preview p {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;

  @apply text-light-gray-3 mb-5 dark:text-light-gray-2;
}

.preview li {
  line-height: 24px;
}

.preview ul {
  @apply px-4 text-sm font-normal text-light-gray-3 mb-5 dark:text-light-gray-2;
}

.preview ol {
  @apply list-decimal px-4 text-sm font-normal text-light-gray-3 mb-5 dark:text-light-gray-2;
}

.preview ul li::before {
  content: "\2022";
  color: #e46643;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.preview blockquote {
  @apply p-6 bg-light-gray-1/2 dark:bg-dark-gray-2 rounded border-l-4 border-orange mb-5;
}

.preview blockquote p {
  @apply text-sm text-dark-gray dark:text-white font-bold m-0;
}

.preview code {
  @apply text-dark-gray dark:text-white text-xs sm:text-sm;
}

.preview pre {
  @apply p-3 sm:p-6 bg-light-gray-1/2 rounded mb-5 dark:bg-dark-gray-2;
}

.preview pre p {
  @apply text-dark-gray font-normal text-sm;
}

/* Text Styles */
.heading-small {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.125rem;
}
.heading-medium {
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.body-medium {
  font-size: 0.8125rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

/* Editor Text */

.editor-text {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

/* Color */
.border-color {
  @apply dark:border-dark-gray-4;
}

.editor-header-color,
.preview-header-color {
  @apply dark:bg-dark-gray-3  bg-light-gray-1/2;
}

.editor-header-text-color,
.preview-header-text-color {
  @apply text-light-gray-3;
}

.editor-color,
.preview-color {
  @apply dark:bg-dark-gray-4 bg-white;
}

.editor-text-color,
.preview-text-color,
.modal-text-color {
  @apply dark:text-light-gray-2 text-dark-gray;
}

.header-color {
  @apply bg-dark-gray-2;
}

.header-text-color {
  @apply text-white;
}

/* Modal Styles */
.modal {
  @apply absolute left-[50%] top-[50%] translate-x-[-50%] translate-y-[-50%] w-[30%] mobile:w-[60%] h-fit m-auto rounded flex flex-col p-4;
}

.modal-title {
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  @apply text-dark-gray dark:text-white;
}

.modal-body {
  font-family: Roboto Slab;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  @apply text-light-gray-3 dark:text-light-gray-2;
}

.modal-color {
  @apply dark:bg-dark-gray-3 bg-white;
}

.modal-input-color {
  @apply dark:bg-dark-gray-2 bg-light-gray-1/2;
}

.button {
  @apply flex items-center gap-2 bg-orange p-4 rounded text-white hover:bg-orange-light;
}
